# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Xcode specific files
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
DerivedData/
build/
*.xcworkspace
*.xcodeproj/project.xcworkspace/

# General
*.log
